<footer id="shopcompFooter">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <a class="navbar-brand" href="#">
                    <img class="img-fluid" src="/images/shopcompFooter.jpg">
                </a>
                <div class="footer-contact-info">
                    <p>7411 Stonehave Dr.
                    </br>Waxhaw, North Carolina 28173
                    </br>United States
                    </br>Call : 704-341-2650
                    </p>
                </div>
            </div>
            <div class="col-sm-4">
                <h5>Get started</h5>
                <ul>
                    <li><a href="#">Before You Buy</a></li>
                    <li><a href="#">How to Buy Work Comp Insurance</a></li>
                    <li><a href="#">Work Comp in Your Industry</a></li>
                    <li><a href="#">Work Comp in Your State</a></li>
                </ul>
            </div>
            <div class="col-sm-4">
                <h5>About us</h5>
                <ul>
                    <li><a href="#">Why ShopComp?</a></li>
                    <li><a href="#">About ShopComp</a></li>
                    <li><a href="#">Contact Us</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <p>Copyright &copy; Of ShopComp 2018. All right reserved. </p>
    </div>
</footer>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
    crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
    crossorigin="anonymous"></script>
</body>

</html>