<% include partials/head %>
    <div class="container-fluid h-100 north-carolina-main-container">
        <div class="row row-page-heading">
            <h1 class="h1-page-title">Buy Workers' Compensation for Accommodation &amp; Food Services</h1>
        </div>
        <div class="row">
            <div class="col-lg-7 col-md-7 col-xs-7 north-carolina-info-container">
                <p class="industry-p">Workers&rsquo; compensation premiums are calculated, in part, by the kinds of work performed. Many businesses
                    have multiple functions performed by different kinds of employees - others have just a few people who
                    wear many different hats. It&rsquo;s important to classify employees accurately - based on what they
                    spend the majority of their time doing - because this could alter your premium dramatically.</p>
                <h3 class="industry-h3">What to Know</h3>
                <ul class="industry-p">
                    <li>Accommodation &amp; Food Services is a mid- to high-risk industry because many service jobs involve activity
                        and movement, and in some cases exposure to hazards.</li>
                    <li>The nature of your business, number of employees being covered and past coverage and claims are all factors
                        in how much your premium will cost.&nbsp;
                        <a href="#">Learn more about workers comp insurance rates &gt;&gt;</a>
                    </li>
                </ul>
                <h3 class="industry-h3">Potential Hazards</h3>
                <ul class="industry-p">
                    <li>Some jobs in this industry&nbsp;can be very physically demanding, involving heavy lifting or pulling
                        and putting workers at higher risk for sprains, strains and repetitive stress injuries.</li>
                    <li>Exposure to harsh chemicals &nbsp;in cleaning products can cause tissue or respiratory damage.</li>
                    <li>Food service jobs also face &nbsp;sharp tools, heavy equipment, hot surfaces, spills and hurried work
                        environments, making burns and slip-and-fall injuries especially prevalent in these workplaces.</li>
                </ul>
                <h3 class="industry-h3">Factors That Impact Coverage</h3>
                <p class="industry-p">Many businesses have several work class codes that describe what their employees do. It&rsquo;s important
                    to classify each group of employees accurately because it could alter your premium dramatically.</p>
                <h3 class="industry-h3">About Work Class Codes</h3>
                <p class="industry-p">Many businesses have several work class codes that describe what their employees do. It&rsquo;s important
                    to classify each group of employees accurately because it could alter your premium dramatically.</p>
                <h3 class="industry-h3">Accommodation &amp; Food Services Work Class Codes</h3>
                <ul class="industry-p">
                    <li>Hotels &amp; motels</li>
                    <li>Bed &amp; breakfast inns</li>
                    <li>Campgrounds</li>
                    <li>Full-service restaurants</li>
                    <li>Carry-out restaurants</li>
                    <li>Caterers</li>
                </ul>
                <h3 class="industry-h3">Other Tips</h3>
                <p class="industry-p">If you employ workers in multiple states or your employees are temporarily working out-of-state, you need
                    to purchase insurance for all the states where your workers are located, according to each state&rsquo;s
                    laws.</p>
                <p class="industry-p">
                    <strong>Call 704-341-2650 and let us walk you through it.</strong>
                </p>
                <p class="industry-p">The nature of your business, number of employees being covered and past coverage and claims are all factors
                    in how much your premium will cost.</p>
                <p class="industry-p">
                    <a href="#">Learn more about workers&rsquo; comp insurance rates &gt;&gt;</a>
                </p>
            </div>
            <div class="col-lg-5 col-md-5 col-xs-5 states-what-you-need-to-know">
                <div class="work-comp-side-info-box">
                    <h3 class="states-work-comp-h3">
                        <strong>Here's What You Need to Get Started</strong>
                    </h3>
                    <p class="states-work-comp-p">To buy workers compensation insurance, you need to request a quote from a licensed insurance agent and
                        provide some details about your business.
                        <br />
                        <br />
                        <strong>Here&rsquo;s what to have in front of you:</strong>
                    </p>
                    <ul class="states-work-comp-p states-work-comp-ul">
                        <li>Number of employees in each class code.</li>
                        <li>Total payroll for all employees. You may be able to exclude yourself if you don't wish to be covered
                            under the policy.&nbsp;</li>
                        <li>Federal ID Number. If you are a sole proprietor, you can use your Social Security Number.</li>
                        <li>Copy of your workers comp insurance policy, if you've had coverage or claims in the past few years.
                            If you know your company's experience mod, please have your experience mod rating sheet or policy
                            in front of you. Otherwise, you will be assigned a default rating of 1.0.</li>
                    </ul>
                    <p class="state-info-disclaimer">
                        The information on this page has been interpreted and summarized for your convenience. Please consult your state's governing
                        authority for the most current and complete legislation.
                    </p>
                </div>
            </div>
        </div>
        <% include partials/foot %>