<% include partials/head %>
    <div class="container-fluid h-100 before-you-buy-main-container">
        <div class="row row-page-heading">
            <h1 class="h1-page-title">What is Workers' Compensation?</h1>
        </div>
        <div class="container-fluid before-you-buy-container-one align-items-center">
            <div class="row before-you-buy-row-one">
                <p>
                    <strong>Workers’ compensation, also called workers’ comp, workmans comp and work comp</strong>, is the system
                    put in place to compensate employees for injuries or illnesses they sustain at work that result in medical
                    care or missing work.
                    <a href="">Workers’ compensation insurance</a>, which is often used interchangeably with the terms above, is the
                    insurance policy employers must purchase annually in order to provide this kind of coverage.
                </p>
            </div>
            <div class="row before-you-buy-row-one-links">
                <ul>
                    <li>
                        <a href="">How to Buy Work Comp Insurance</a>
                    </li>
                    <li>
                        <a href="">How Much Work Comp Costs</a>
                    </li>
                    <li>
                        <a href="">Work Comp in Your State</a>
                    </li>
                    <li>
                        <a href="">Work Comp in Your Industry</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="container-fluid before-you-buy-container-two align-items-center">
            <div class="row before-you-buy-row-two">
                <div class="col-lg-7 col-md-7 col-xs-7 before-you-buy-row-two-desc">
                    <p><strong>Work comp insurance is a legal requirement for most employers.</strong></p>
                </br>
                    <p>If you have employees, state law may require you to carry workers’ compensation insurance.
                        See your state’s specific requirements and reevaluate your policy annually to reflect your current
                        business operations and payroll.</p>
                </div>
                <div class="col-lg-5 col-md-5 col-xs-5">
                    <a class="before-you-buy-row-two-img" href="#">
                        <img class="" src="/images/mailboxIMG.jpg" alt="">
                    </a>
                </div>
            </div>
        </div>
        <div class="container-fluid before-you-buy-container-three align-items-center">
                <div class="row before-you-buy-row-three">
                    <div class="col-lg-12 col-md-12 col-xs-12 before-you-buy-row-three-desc">
                            <p><strong>Workers&rsquo; compensation protects your employees.</strong>&nbsp;Employers are responsible for maintaining a safe workplace and training employees on safety procedures. But employee injuries still happen:</p>
                            <ul>
                            <li>A worker slips and falls in a retail shop or restaurant</li>
                            <li>An employee is injured in a car accident running company errands</li>
                            <li>A co-worker develops carpal tunnel from repetitive office work</li>
                            </ul>
                            <p>This could be devastating to both employee and employer. Workers&rsquo; compensation was created to navigate these situations.</p>
                            <p>Your workers' compensation policy has two parts: Part A covers medical costs, rehabilitation expenses and lost income for injured employees, or death benefits to the employee&rsquo;s dependents. There is no limit to workers' compensation coverage.</p>
                    </div>
                </div>
        </div>
    </div>
    <% include partials/foot %>