<% include partials/head %>
    <div class="container-fluid h-100 claims-main-container">
        <div class="row row-page-heading">
            <h1 class="h1-page-title">If You Have a Claim</h1>
        </div>
        <div class="container-fluid claims-container-one align-items-center">
            <div class="row claims-row-one">
                <div class="col-lg-12 col-md-12 col-xs-12 claims-row-one-desc">
                    <h2>Seek Medical Attention</h2>
                    <p>In the event of an emergency, the injured employee should call 911, seek immediate medical attention
                        at the closest facility and report the injury to the employer as soon as possible.</p>
                    <p>If the employee requires additional medical or rehabilitation services, the employer may be able to choose
                        the doctor. Check with your state resources to learn more, and always select the doctor who will
                        provide the best medical care. This will help to prevent recurring injuries and allow your employee
                        to return to work as quickly as possible.</p>
                </div>
            </div>
        </div>
        <div class="container-fluid claims-container-two align-items-center">
            <div class="row claims-row-two">
                <div class="col-lg-7 col-md-7 col-xs-7 claims-row-two-desc">
                    <h2>Contact Your Carrier</h2>
                    <p>To file a claim, contact the carrier listed on your workers' compensation policy:</p>
                    <ul>
                        <li>Hartford: 800-243-5860</li>
                        <li>Travelers: 800-238-6225</li>
                        <li>Liberty Mutual: 888-398-8924</li>
                        <li>Builders Mutual: 800-809-4858</li>
                        <li>Frank Winston Crum: 727-799-1150</li>
                        <li>Berkshire Hathaway Guard: 570-825-9900</li>
                    </ul>
                    <p>Do not wait to contact the carrier; some states have a limited window of time after the injury in which
                        the claim can be filed.</p>
                </div>
                <div class="col-lg-5 col-md-5 col-xs-5">
                    <a class="claims-row-two-img" href="#">
                        <img class="" src="/images/work-comp-claims.jpg" alt="">
                    </a>
                </div>
            </div>
        </div>
        <div class="container-fluid claims-container-three align-items-center">
            <div class="row claims-row-three">
                <div class="col-lg-12 col-md-12 col-xs-12 claims-row-three-desc">
                    <h2>Prevent Future Claims</h2>
                    <p>Any claims, big or small, will impact your insurance rates, and many small claims can be as devastating
                        to your premium as one major claim. Protect your business and your employees by reinforcing safe
                        workplace habits:</p>
                    <ul>
                        <li>Train employees on proper techniques for lifting, operating equipment, handling tools or chemicals,
                            and what to do in an emergency.</li>
                        <li>Provide and require the use of proper safety equipment such as gloves, protective eyewear, face masks,
                            hair nets and steel-toed boots.</li>
                        <li>Reinforce a drug-free environment to further reduce the risk of accidents.</li>
                        <li>Keep work areas clean and free of clutter.</li>
                        <li>Maintain any equipment or tools used by employees to reduce risk of injury.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <% include partials/foot %>