<% include partials/head %>
    <div class="container-fluid h-100 ten-ways-main-container">
        <div class="row row-page-heading">
            <h1 class="h1-page-title">Employee or Independent Contractor? 10 Ways to Tell</h1>
        </div>
        <div class="row ten-ways-row">
            <div class="col-lg-12 col-md-12 col-xs-12 ten-ways-column">
                <p>It&rsquo;s important to know if you - or if someone you&rsquo;re hiring - would be considered an employee
                    or an independent contractor. This determines who will be held responsible for medical bills or lost
                    wages should you get injured on the job. A number of factors are reviewed when evaluating your status.
                    Here are some things to think about:&nbsp;</p>
                <h3 class="states-work-comp-h3">
                    <strong>1. Are you directed on how the work should be performed or simply the final product?</strong>
                </h3>
                <p class="states-work-comp-p">An employee will generally be directed on how a project should be completed, while an independent contractor
                    will use his own methodology.&nbsp;</p>
                <h3 class="states-work-comp-h3">
                    <strong>2. Does the business provide training for you?</strong>
                </h3>
                <p class="states-work-comp-p">This indicates employee status.&nbsp;</p>
                <h3 class="states-work-comp-h3">
                    <strong>3. Are your services a substantial or integral part of the business?</strong>
                </h3>
                <p class="states-work-comp-p">This indicates employee status.&nbsp;</p>
                <h3 class="states-work-comp-h3">
                    <strong>4. Does the business require that you personally perform all services, or can you hire and pay your assistants?</strong>
                </h3>
                <p class="states-work-comp-p">Independent contractors may have the option of hiring other contractors to perform their work.</p>
                <h3 class="states-work-comp-h3">
                    <strong>5. Do you have profits and losses independent of the business?</strong>
                </h3>
                <p class="states-work-comp-p">This is an indication that you are running your own business as an independent contractor.&nbsp;</p>
                <h3 class="states-work-comp-h3">
                    <strong>6. Do you have an ongoing relationship with this business?</strong>
                </h3>
                <p class="states-work-comp-p">While you and the company may simply have a good working relationship, the IRS may view this as an indication
                    of employee status.&nbsp;</p>
                <h3 class="states-work-comp-h3">
                    <strong>7. Do you set your own schedule and hours?</strong>
                </h3>
                <p class="states-work-comp-p">This suggest you&rsquo;re an independent contractor.</p>
                <h3 class="states-work-comp-h3">
                    <strong>8. Are you required to work full-time?</strong>
                </h3>
                <p class="states-work-comp-p">This is an indication of employee status.&nbsp;</p>
                <h3 class="states-work-comp-h3">
                    <strong>9. Are you allowed to work for other clients? Do you provide your own tools and equipment?</strong>
                </h3>
                <p class="states-work-comp-p">This indicates that you are an independent contractor.&nbsp;</p>
                <h3 class="states-work-comp-h3">
                    <strong>10. Can the relationship be terminated at any time?</strong>
                </h3>
                <p class="states-work-comp-p">This suggests employee status. An independent contractor would only be discharged for failure to meet contract
                    specifications; likewise, an independent contractor is under contract and cannot quit until the project
                    is completed.&nbsp;
                </p>
                <p class="states-work-comp-p">If you think you might be considered an independent contractor, you may need to carry workers' compensation
                    insurance. WorkCompOne can help you get coverage quickly and easily.&nbsp;
                    <a href="">Get Started Now &gt;&gt;</a>
                </p>
            </div>
        </div>

    </div>
    <% include partials/foot %>