<% include partials/head %>
    <div class="container-fluid h-100 home-container">
        <!--Home Banner Image-->
        <div class="row-fluid">
            <div class="col-lg-12 col-md-12 col-xs-12 thumb">
                <a class="thumbnail" href="#">
                    <img class="home-banner-IMG" src="/images/coffee-banner-image.jpg" alt="">
                    
                </a>
                <div class="caption">
                        <p class="caption-title">Workers Comp Insurance. </br>Made Plain &amp; Simple.</p>
                    </div>
            </div>
        </div>

        <!--List of Insurance Company Icons-->
        <div class="row icon-row-padded">

            <div class="col-lg-2 col-md-2 col-xs-2 thumb">
                <a class="home-insurance-icon" href="#">
                    <img class="icon-img-responsive" src="/images/travelersICON.png" alt="">
                </a>
            </div>
            <div class="col-lg-2 col-md-2 col-xs-2 thumb">
                <a class="thumbnail" href="#">
                    <img class="icon-img-responsive" src="/images/liberty_mutualICON.png" alt="">
                </a>
            </div>
            <div class="col-lg-2 col-md-2 col-xs-2 thumb">
                <a class="thumbnail" href="#">
                    <img class="icon-img-responsive" src="/images/hartfordICON.png" alt="">
                </a>
            </div>
            <div class="col-lg-2 col-md-2 col-xs-2 thumb">
                <a class="thumbnail" href="#">
                    <img class="icon-img-responsive" src="/images/Berkshire_Hathaway_Guard.png" alt="">
                </a>
            </div>
            <div class="col-lg-2 col-md-2 col-xs-2 thumb">
                <a class="thumbnail" href="#">
                    <img class="icon-img-responsive" src="/images/builders_mutualICON.png" alt="">
                </a>
            </div>
            <div class="col-lg-2 col-md-2 col-xs-2 thumb">
                <a class="thumbnail" href="#">
                    <img class="icon-img-responsive" src="/images/frank_winston_crum.png" alt="">
                </a>
            </div>
        </div>
        <!--State Images Covered-->
        <div class="container-fluid home-states-container">
            <h1 class="h1-insurance-covered-states">States We Cover</h1>
            <div class="row insurance-covered-states">
                <div class="col-lg-3 col-md-3 col-xs-3 thumb">
                    <a class="home-insurance-icon" href="#">
                        <img class="icon-img-responsive" src="/images/north_carolina.png" alt="">
                    </a>
                    <h2 class="home-state-subtitle"><a href="facebook.com">North Carolina</a></h2>
                </div>
                <div class="col-lg-3 col-md-3 col-xs-3 thumb">
                    <a class="thumbnail" href="#">
                        <img class="icon-img-responsive" src="/images/south_carolina.png" alt="">
                    </a>
                    <h2 class="home-state-subtitle"><a href="facebook.com">South Carolina</a></h2>
                </div>
                <div class="col-lg-3 col-md-3 col-xs-3 thumb">
                    <a class="thumbnail" href="#">
                        <img class="icon-img-responsive" src="/images/georgia.png" alt="">
                    </a>
                    <h2 class="home-state-subtitle"><a href="facebook.com">Georgia</a></h2>
                </div>
                <div class="col-lg-3 col-md-3 col-xs-3 thumb">
                    <a class="thumbnail" href="#">
                        <img class="icon-img-responsive" src="/images/florida.png" alt="">
                    </a>
                    <h2 class="home-state-subtitle"><a href="facebook.com">Florida</a></h2>
                </div>
            </div>
        </div>
        <!--Business Workers Compensation-->
        <div class="container-fluid business-types-container">
            <h1 class="h1-business-types">Small Business Workers’ Compensation</h1>
            <div class="row workers-comp-businesses">
                <div class="col-lg-4 col-md-4 col-xs-4 thumb">
                    <div class="card">
                        <img class="card-img-top" src="/images/contractor.jpg" alt="Card image cap">
                        <div class="card-block home-card-block">
                            <h4 class="card-title home-card-title">Contractors &amp; Trade</h4>
                            <p class="card-text home-card-text">Construction and trade contractors are unique in the way their jobsites, co-workers and employers change with each job they work on...</p>
                            <a href="#" class="btn btn-primary read-more-btn">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-xs-4 thumb">
                    <div class="card home-business-type-card">
                        <img class="card-img-top" src="/images/restaurant.jpg" alt="Card image cap">
                        <div class="card-block home-card-block">
                            <h4 class="card-title home-card-title">Restauraunt &amp; Food Services</h4>
                            <p class="card-text home-card-text">Accommodation &amp; Food Services is a mid- to high-risk industry because many service jobs involve activity and movement, and in some cases exposure to hazards...</p>
                            <a href="#" class="btn btn-primary read-more-btn">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-xs-4 thumb">
                    <div class="card">
                        <img class="card-img-top" src="/images/small_business.jpg" alt="Card image cap">
                        <div class="card-block home-card-block">
                            <h4 class="card-title home-card-title">Retail &amp; Office</h4>
                            <p class="card-text home-card-text">Professional &amp; Technical Services includes specialized services performed for individuals or other businesses, such as agencies and consulting services...</p>
                            <a href="#" class="btn btn-primary read-more-btn">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <% include partials/foot %>