<% include partials/head %>
    <div class="container-fluid h-100 north-carolina-main-container">
        <div class="row row-page-heading">
            <h1 class="h1-page-title">Buy Workers' Compensation Insurance in North Carolina</h1>
        </div>
        <div class="row">
            <div class="col-lg-8 col-md-8 col-xs-8 north-carolina-info-container">
                <div class="row">
                    <h3 class="states-work-comp-h3">
                        <strong>Who needs to be covered by the policy, where you can buy it and how much it will cost are all mandated
                            or influenced by state law.</strong>
                    </h3>
                    <p class="states-work-comp-p">Your business must comply with the states where your employees perform work - not necessarily where the
                        business was founded or is based. If your business operates in multiple states, or employees travel
                        across state lines to work, you may need to modify your policy to guarantee coverage in the event
                        of a claim.</p>
                </div>
                <h3 class="states-work-comp-h3">
                    <strong>What to Know</strong>
                </h3>
                <p class="states-work-comp-p">
                    <strong>You are required to carry workers' compensation insurance in North Carolina if:</strong>
                </p>
                <ul class="states-work-comp-p">
                    <li>If you have three or more employees working in North Carolina. Corporate officers are counted as employees,
                        but do not have to be covered.</li>
                    <li>If your employees are exposed to radiation.</li>
                    <li>If you are an independent contractor, you might not be covered by the hiring company&rsquo;s insurance
                        policy and may need to provide proof of work comp. Are you an employee or an independent contractor?&nbsp;
                        <a href="/employee-or-independent-contractor">10 ways to tell &gt;&gt;</a>
                    </li>
                </ul>
                <p class="states-work-comp-p">
                    <strong>Where to buy insurance:</strong>
                </p>
                <ul class="states-work-comp-p">
                    <li>North Carolina has a private market. You can purchase a workers' compensation policy from any private
                        insurance carrier or agency that is licensed to write in that state.&nbsp;
                        <a href="">Get started on a policy with ShopComp &gt;&gt;</a>
                    </li>
                    <li>If you&rsquo;re still having trouble finding coverage, you can contact North Carolina&rsquo;s assigned
                        risk pool, which will place you with a carrier.</li>
                </ul>
                <h3 class="states-work-comp-h3">
                    <strong>Where to Get it</strong>
                </h3>
                <ul class="states-work-comp-p">
                    <li>North Carolina workers&rsquo; compensation regulation:&nbsp;
                        <a href="http://www.ic.nc.gov/index.html" target="_blank">North Carolina Industrial Commission</a>
                    </li>
                    <li>
                        <a href="http://www.ncrb.org/ncrb/" target="_blank">North Carolina Rate Bureau (NCRB)</a>
                    </li>
                    <li>North Carolina assigned risk pool managed by:&nbsp;
                        <a href="http://www.ncrb.org/ncrb/" target="_blank">North Carolina Rate Bureau (NCRB)</a>
                    </li>
                    <li>
                        <a href="http://www.ic.nc.gov/ncic/pages/ch97toc.htm" target="_blank">North Carolina workers' compensation state law</a>
                    </li>
                </ul>
                <h3 class="states-work-comp-h3">
                    <strong>Factors That Impact Coverage</strong>
                </h3>
                <p class="states-work-comp-p">
                    <strong>Legal Requirements</strong>
                </p>
                <ul class="states-work-comp-p">
                    <li>Who needs to be covered by the policy, where you can buy it and how much it will cost are influenced
                        by state legislation and the state's current legal and political climate.</li>
                    <li>Your business must comply with the state where your employees perform work - not necessarily where the
                        business was founded or is based.</li>
                    <li>If your business operates in multiple states, or employees travel across state lines to work, you may
                        need to modify your policy to guarantee coverage.</li>
                </ul>
                <p class="states-work-comp-p">
                    <strong>General Liability</strong>
                </p>
                <ul class="states-work-comp-p">
                    <li>Work comp covers wage replacement and medical bills for employees injured on the job. To protect against
                        other injuries at your place of business, you may need general liability insurance.&nbsp;
                        <a href="">Learn more about general liability &gt;&gt;</a>
                    </li>
                </ul>
                <p class="states-work-comp-p">
                    <strong>Rates</strong>
                </p>
                <ul class="states-work-comp-p">
                    <li>Your premium factors in the nature of your business, number of employees being covered and past coverage
                        and claims.&nbsp;
                        <a href="">Learn more about workers&rsquo; comp insurance rates &gt;&gt;</a>
                    </li>
                </ul>
                <h3 class="states-work-comp-h3">
                    <strong>North Carolina Key Resources</strong>
                </h3>
                <ul class="states-work-comp-p">
                    <li>Regulated by the&nbsp;
                        <a href="http://www.ic.nc.gov/index.html" target="_blank">North Carolina Industrial Commission</a>
                        <br />(919) 807-2501&nbsp;
                        <br />Toll-free (800) 688-8349&nbsp;
                        <br />Email:&nbsp;
                        <a href="mailto:infospec@ic.nc.gov">infospec@ic.nc.gov</a>
                    </li>
                    <li>North Carolina rating bureau &amp; assigned risk pool:&nbsp;
                        <a href="http://www.ncrb.org/ncrb/Home/tabid/54/Default.aspx" target="_blank">North Carolina Rate Bureau (NCRB)</a>
                    </li>
                    <li>
                        <a href="http://www.ic.nc.gov/ncic/pages/ch97toc.htm" target="_blank">North Carolina workers' compensation state law</a>
                    </li>
                </ul>
                <h3 class="states-work-comp-h3">
                    <strong>Other Tips</strong>
                </h3>
                <p class="states-work-comp-p">If you employ workers in multiple states or your employees are temporarily working out-of-state, you need
                    to purchase insurance for all the states where your workers are located, according to each state&rsquo;s
                    laws.
                </p>
                <p class="states-work-comp-p">
                    <strong>Call 704-341-2650 and let us walk you through it.</strong>
                    <br />
                    <br />The nature of your business, number of employees being covered and past coverage and claims are all factors
                    in how much your premium will cost.&nbsp;
                    <a href="">Learn more about workers' comp insurance rates &gt;&gt;</a>
                </p>
            </div>
            <div class="col-lg-4 col-md-4 col-xs-4 states-what-you-need-to-know">
                <div class="work-comp-side-info-box">
                    <h3 class="states-work-comp-h3">
                        <strong>Here's What You Need to Get Started</strong>
                    </h3>
                    <p class="states-work-comp-p">To buy workers compensation insurance, you need to request a quote from a licensed insurance agent and
                        provide some details about your business.
                        <br />
                        <br />
                        <strong>Here&rsquo;s what to have in front of you:</strong>
                    </p>
                    <ul class="states-work-comp-p states-work-comp-ul">
                        <li>Number of employees in each class code.</li>
                        <li>Total payroll for all employees. You may be able to exclude yourself if you don't wish to be covered
                            under the policy.&nbsp;</li>
                        <li>Federal ID Number. If you are a sole proprietor, you can use your Social Security Number.</li>
                        <li>Copy of your workers comp insurance policy, if you've had coverage or claims in the past few years.
                            If you know your company's experience mod, please have your experience mod rating sheet or policy
                            in front of you. Otherwise, you will be assigned a default rating of 1.0.</li>
                    </ul>
                    <p class="state-info-disclaimer">
                        The information on this page has been interpreted and summarized for your convenience. Please consult your state's governing
                        authority for the most current and complete legislation.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <% include partials/foot %>