<% include partials/head %>
    <div class="container-fluid h-100 north-carolina-main-container">
        <div class="row row-page-heading">
            <h1 class="h1-page-title">Buy Workers' Compensation Insurance in South Carolina</h1>
        </div>
        <div class="row">
            <div class="col-lg-7 col-md-7 col-xs-7 north-carolina-info-container">
                <div class="row">
                    <h3 class="states-work-comp-h3">
                        <strong>Who needs to be covered by the policy, where you can buy it and how much it will cost are all mandated
                            or influenced by state law.</strong>
                    </h3>
                    <p class="states-work-comp-p">Your business must comply with the states where your employees perform work - not necessarily where the
                        business was founded or is based. If your business operates in multiple states, or employees travel
                        across state lines to work, you may need to modify your policy to guarantee coverage in the event
                        of a claim.</p>
                </div>
                <h3 class="states-work-comp-h3">
                    <strong>What to Know</strong>
                </h3>
                <p class="states-work-comp-p">
                    <strong>You are required to carry workers' compensation insurance in South Carolina if:</strong>
                </p>
                <ul class="states-work-comp-p">
                    <li>You have four or more employees working in South Carolina, whether full-time or part-time.&nbsp;</li>
                    <li>You&rsquo;re hiring someone who is not an employee. In South Carolina, if you hire subcontractors that
                        do not carry workers' compensation insurance, you may be liable just as if they were one of your
                        employees.&nbsp;
                        <strong>Employee or independent contractor?</strong>&nbsp;
                        <a href="/employee-or-independent-contractor">10 ways to tell &gt;&gt;</a>
                    </li>
                </ul>
                <p class="states-work-comp-p">
                    <strong>Other regulations that may affect you:</strong>
                </p>
                <ul class="states-work-comp-p">
                    <li>Workers' compensation insurance covers wage replacement and medical bills for employees injured on the
                        job. To protect against other injuries at your place of business, you may need general liability
                        insurance.&nbsp;
                        <a href="">Learn more about general liability &gt;&gt;</a>
                    </li>
                </ul>
                <h3 class="states-work-comp-h3">
                    <strong>Where to Get It</strong>
                </h3>
                <ul class="states-work-comp-p">
                    <li>South Carolina has a private market, meaning that you can purchase workers' compensation insurance from
                        any private insurance carrier or agency that is licensed to write in that state. WorkCompOne can
                        write workers' compensation policies in any U.S. state except those that practice state-run workers'
                        compensation (Ohio, Washington, North Dakota and Wyoming).&nbsp;
                        <a href="">Get started on a policy with ShopComp &gt;&gt;</a>
                    </li>
                    <li>If you&rsquo;re still having trouble, you can contact South Carolina's assigned risk pool, which will
                        help you find coverage.</li>
                </ul>
                <h3 class="states-work-comp-h3">
                    <strong>Factors That Impact Coverage</strong>
                </h3>
                <ul class="states-work-comp-p">
                    <li>You are a sole proprietor, partner or member of an LLC: In South Carolina, you are excluded from coverage
                        but have the option to include yourself.</li>
                    <li>You are a corporate officer: South Carolina includes you in coverage, but you have the option to exclude
                        yourself.
                    </li>
                </ul>
                <h3 class="states-work-comp-h3">
                    <strong>South Carolina Key Resources</strong>
                </h3>
                <ul class="states-work-comp-p">
                    <li>Regulated by the&nbsp;
                        <a href="http://www.wcc.sc.gov/Pages/default.aspx" target="_blank">South Carolina Workers&rsquo; Compensation Commission</a>&nbsp;
                        <br />
                        <a href="http://www.wcc.sc.gov/contactus/Pages/Directory.aspx" target="_blank">Contact directory</a>
                    </li>
                    <li>South Carolina rating bureau &amp; assigned risk pool:&nbsp;
                        <a href="https://www.ncci.com/nccimain/pages/default.aspx" target="_blank">NCCI (National Council on Compensation Insurance)</a>
                    </li>
                    <li>
                        <a href="http://www.scstatehouse.gov/code/title42.php" target="_blank">South Carolina workers' compensation state law</a>
                    </li>
                </ul>
                <h3 class="states-work-comp-h3">
                    <strong>Other Tips</strong>
                </h3>
                <p class="states-work-comp-p">If you employ workers in multiple states or your employees are temporarily working out-of-state, you need
                    to purchase insurance for all the states where your workers are located, according to each state&rsquo;s
                    laws.
                </p>
                <p class="states-work-comp-p">
                    <strong>Call 704-341-2650 and let us walk you through it.</strong>
                    <br />
                    <br />The nature of your business, number of employees being covered and past coverage and claims are all factors
                    in how much your premium will cost.&nbsp;
                    <a href="">Learn more about workers' comp insurance rates &gt;&gt;</a>
                </p>
            </div>
            <div class="col-lg-5 col-md-5 col-xs-5 states-what-you-need-to-know">
                <div class="work-comp-side-info-box">
                    <h3 class="states-work-comp-h3">
                        <strong>Here's What You Need to Get Started</strong>
                    </h3>
                    <p class="states-work-comp-p">To buy workers compensation insurance, you need to request a quote from a licensed insurance agent and
                        provide some details about your business.
                        <br />
                        <br />
                        <strong>Here&rsquo;s what to have in front of you:</strong>
                    </p>
                    <ul class="states-work-comp-p states-work-comp-ul">
                        <li>Number of employees in each class code.</li>
                        <li>Total payroll for all employees. You may be able to exclude yourself if you don't wish to be covered
                            under the policy.&nbsp;</li>
                        <li>Federal ID Number. If you are a sole proprietor, you can use your Social Security Number.</li>
                        <li>Copy of your workers comp insurance policy, if you've had coverage or claims in the past few years.
                            If you know your company's experience mod, please have your experience mod rating sheet or policy
                            in front of you. Otherwise, you will be assigned a default rating of 1.0.</li>
                    </ul>
                    <p class="state-info-disclaimer">
                        The information on this page has been interpreted and summarized for your convenience. Please consult your state's governing
                        authority for the most current and complete legislation.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <% include partials/foot %>