<% include partials/head %>
    <div class="container-fluid h-100 why-shopcomp-main-container">
        <div class="row row-page-heading">
            <h1 class="h1-page-title">How We Work</h1>
        </div>
        <div class="container-fluid why-shopcomp-container-one align-items-center">
            <div class="row why-shopcomp-row-one">
                <div class="col-lg-12 col-md-12 col-xs-12 why-shopcomp-row-one-desc">
                    <p>Welcome to a new way of doing insurance. If you're a small business owner, you're familiar with the frustrations
                        of workers' compensation insurance. The team at ShopComp knew there had to be a better way to connect
                        small business owners with the work comp policies they need. Part insurance agency, part tech company,
                        ShopComp is the solution for busy small business owners looking for work comp.</p>
                    <h2>Work Comp Made Simple</h2>
                    <p>No more complicated forms; no more guessing games. Just simple, straightforward answers to your work
                        comp questions and helpful, accessible customer service.</p>
                </div>
            </div>
        </div>
        <div class="container-fluid why-shopcomp-container-two align-items-center">
            <div class="row why-shopcomp-row-two">
                <div class="col-lg-7 col-md-7 col-xs-7 why-shopcomp-row-two-desc">
                    <h2>Open For Business</h2>
                    <p>We're available when you are - online and on your schedule. Get started on a quote right from your computer
                        so you can get back to running your business.</p>
                </div>
                <div class="col-lg-5 col-md-5 col-xs-5">
                    <a href="#">
                        <img class="why-shopcomp-images img-fluid" src="/images/open-for-business.jpg" alt="">
                    </a>
                </div>
            </div>
        </div>
        <div class="container-fluid why-shopcomp-container-three align-items-center">
            <div class="row why-shopcomp-row-three">
                <div class="col-lg-5 col-md-5 col-xs-5">
                    <a href="#">
                        <img class="why-shopcomp-images why-shopcom-img-three img-fluid" src="/images/no-policy-to-small.jpg" alt="">
                    </a>
                </div>
                <div class="col-lg-7 col-md-7 col-xs-7 why-shopcomp-row-three-desc">
                    <h2>No Policy Too Small</h2>
                    <p>The truth is, serving small businesses isn't profitable for most traditional insurance agents. ShopComp's
                        online platform makes it possible for leading national insurance carriers to serve all businesses,
                        even those with fewer than ten employees.
                        <a href="">Learn More About Our Partners &gt;&gt;</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="container-fluid why-shopcomp-container-four align-items-center">
                <div class="row why-shopcomp-row-four">
                    <div class="col-lg-7 col-md-7 col-xs-7 why-shopcomp-row-four-desc">
                        <h2>The Protection Your Company Needs</h2>
                        <p>Workers' compensation insurance is required by law in the U.S.
                            ShopComp has the certs you need to get on the jobsite.</p>
                    </div>
                    <div class="col-lg-5 col-md-5 col-xs-5">
                        <a href="#">
                            <img class="why-shopcomp-images img-fluid" src="/images/protection.jpg" alt="">
                        </a>
                    </div>
                </div>
            </div>
    </div>

    <% include partials/foot %>